<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="colorLevel"  converterClass="net.cjsah.bot.resolver.LogLevelColorConverter" />
    <property name="log.path" value="./logs"/>
    <property name="console.log.pattern"
              value="[%magenta(%d{yyyy-MM-dd HH:mm:ss,GMT+8})] [%cyan(%logger{36})] [%colorLevel] %msg%n"/>
    <property name="log.pattern" value="[%d{yyyy-MM-dd HH:mm:ss,GMT+8}] [%logger{36}] [%level] %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${console.log.pattern}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <!-- 控制台文件 -->
    <appender name="file_console" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/latest.log</file>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/logs.%d{yyyy-MM-dd,GMT+8}.log</fileNamePattern>
            <!-- 日志最大的历史 30天 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="org.quartz" level="warn" />

    <!--系统操作日志-->
    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file_console" />
    </root>

<!--    系统用户操作日志-->
<!--    <logger name="sys-user" level="info">-->
<!--        <appender-ref ref="sys-user"/>-->
<!--    </logger>-->
</configuration>